@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: Merriweather, sans-serif;
    box-sizing: border-box;
}

body {
    background: #fefefe;
}


.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

/* navigation bar */


.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fa0000;
  color: #000;
  opacity: 0.85;
  height: 60px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  
}

.menu-items {
  order: 2;
  display: flex;
  align-items: center;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}  

.menu-items a {
    display: flex;
    color: #fefefe;
    font-size: 1.5rem;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.menu-items a:hover {
  color: black;
  background: #fefefe;
  transition: color 0.3s ease-in-out;
}

.menu-items a.active {
  color: black;
  background: #fefefe;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
  color: #fefefe
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fa0000;
  color: #ffffff;
  opacity: 0.85;
  height: 40px;
  font-family: Merriweather, sans-serif;
}

.footer-links {
  text-align: center;
  padding-top: 0.5%;
}

.footer-links > li {
  display: inline;
}

.footer-links a {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #ffffff;
}

/* media query */

/* for larger to medium screen size from 900px wide and down */

@media screen and (max-width: 900px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fefefe;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fa0000;
    transform: translate(0%, -100%);
    display: flex;
    flex-direction: column;
    margin-left: px;
    padding-left: 0px;
    transition: transform 0.5s ease-in-out;
    position: relative;
    z-index: 1;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateY(0%);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }



  .navbar .menu-items li{
      font-size: 1.6rem;
  }

  .logo {
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 2.5rem;
  }
 
  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }

}

/* for medium to small screen size 550px and down */

@media screen and (max-width: 550px) {
  .logo {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.3rem;
  }
}

/* hero */

#hero-outer {
  height: 600px;
  width: 100%;
  gap: 0.5rem;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.part {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fefefe;
  cursor: pointer;
  margin-top: 4.5%;
  position: relative;
}

.part.left {
  background: green;
  transition: all 0.5s ease;
}

.part.center {
  background: red;
  transition: all 0.5s ease;
}

.part.right {
  background: blue;
  transition: all 0.5s ease;
}

.part .text {
  padding: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: linear-gradient(0deg, #000000bf 0%, #ffffff00 100%);
}

.part h2 {
  font-size: 2.5rem;
  position: relative;
  padding-bottom: 2rem;
}

.part .abstract {
  color: #fefefe;
  font-family: Merriweather, sans-serif;
  padding-top: 1rem;
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease;
}

.part p {
  margin-bottom: 1rem;
}

.part.left .text {
  padding-right: 5rem;
}

.part.center .text {
  padding-right: 5rem;
}

.part.right .text {
  padding-right: 5rem;
}

.part .bg {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  transition: all 0.5s ease;
  background-size: cover;
}

.part.left .bg {
  background-image: url(../images/sprigatito.png);
}

.part.center .bg {
  background-image: url(../images/fuecoco.png);
}

.part.right .bg {
  background-image: url(../images/quaxly.png);
}

.part:hover .bg {
  filter: grayscale(0);
  transform: scale(1.2);
}

.part:hover .abstract {
  opacity: 1;
  max-height: 20rem;
}

.part:hover {
  background: grey;
}
